<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome! <%= id %></title>
</head>
<body>
  <h1>Welcome! <%= id %></h1>
  <a href="/" style="text-decoration: none; color: black;">Go Main</a>
</body>
</html>